body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: khaki;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    flex-direction: column;
}

.gridContainer {
    display: grid;
    width: 400px;
    height: 400px;
    margin-top: 10px;
    max-width: 100%;
}

.square{
    background-color: #ccc;
    border: 0.2px solid #99999931;
      aspect-ratio: 1 / 1;
}